{% extends 'ADMINS/base1.html' %}
{% block adminblock %}
{% load staticfiles %}
<link href="https://fonts.googleapis.com/css?family=Ubuntu+Condensed" rel="stylesheet">

<script>
window.onload = function () {
var chart = new CanvasJS.Chart("chartContainer", {
	animationEnabled: true,
	title: {
		text: "DETECTION_OF_DEPRESSION"
	},
	axisX: {
		title: "Active Users"
	},
	axisY: {
		title: "CPU Utilization",
		suffix: "%"
	},
	legend: {
		cursor: "pointer",
		itemclick: toggleDataSeries
	},
	data: [{
		type: "scatter",
		name: "Server 1",
		showInLegend: true,
		toolTipContent: "<span style=\"color:#4F81BC \">{name}</span><br>Active Users: {x}<br>DETECTION_OF_DEPRESSION: {y}%",
		dataPoints: [
		{% for o in objects %}
		    {y: {{o.dcount}}, label: "{{o.topics}}"},
		{% endfor %}

		]
	},
	{
		type: "scatter",
		name: "Server 2",
		showInLegend: true,
		markerType: "triangle",
		toolTipContent: "<span style=\"color:#C0504E \">{name}</span><br>Active Users: {x}<br>DETECTION_OF_DEPRESSION: {y}%",
		dataPoints: [
		{% for o in objects %}
		    {y: {{o.dcount}}, label: "{{o.topics}}"},
		{% endfor %}

		]
	}]
});
chart.render();

function toggleDataSeries(e) {
	if (typeof (e.dataSeries.visible) === "undefined" || e.dataSeries.visible) {
		e.dataSeries.visible = false;
	} else {
		e.dataSeries.visible = true;
	}
	e.chart.render();
}

}
</script>

<body>
<div id="chartContainer" style="height: 370px; width: 100%;">
<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
</div>
</body>
{% endblock %}